*{
    margin: 0;
    padding: 0;
    font-family:"Fira Sans";
}

.hello{
    background-size: cover;
    background-position: right;
    max-height: 100vh;
    
}

.container{
    margin-right: 100px;
    margin-left: 100px;
}

.header-text{
    margin-top: 140px;
    max-width: 350px;

}
.h1{
    font-size: 34px;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}

.common-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
}
P{
font-size: 15px;
line-height: 18px;
color: #777;
}

.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}

.line1{
    width: 15px;
    height: 15px;
    background:#f67c92;
    display: inline-block;
}
.line2{
    width: 80px;
    height: 1px;
    background:#f67c92;
    display: inline-block;
}
.line3{
    width: 60px;
    height: 1px;
    background:#f67c92;
    display: inline-block;
}

.line{
    line-height: 8px;
}

#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: 0.5s;
    font-size: 18px;
}

nav ul li{
    list-style: none;
   margin: 50px 20px; 

}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}


/* about */

#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col{
    flex-basis: 50%;

}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
    text-align: justify;
}

.about-text{
    max-width: 500px;
    margin-right: 50;
    display: inline-block;
}

/* experience */

#experience{
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
}
.experience-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.experience-col{
    flex-basis: 25%;
    text-align: center;
}


.experience-col img{
    width: 100px;
}

.experience-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

/* footer */

#footer{
    padding: 50px 0 30px;
}

hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
}

.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-col{
    flex-basis: 50%;
    margin-top: 60px;

}
.footer-right-col{
    flex-basis: 35%;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.link-title h4{
    color: #fab3c4;
    margin-bottom: 20px;
    font-size: 15px;
}

.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer-logo img{
    width: 100px;

}

.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}

.copyright-text, .footer-logo{
    flex-basis: 40%;
}

/* social icons */

.social-icons{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    z-index: 1;
}

.social-icons img{
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}

#skills{
    min-height: 90vh;
}
.skills1{
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.skills1 img{
    width: 6%;
    margin-left: 20%;
}
.skills2{
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skills2 img{
    width: 6%;
    margin-left: 20%;
}
.skills3{
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.skills3 img{
    width: 6%;
    margin-left: 20%;
}

#experience-images{
    width: 100%;

}



@media only screen and (max-width: 800px){
    #header{
        background-image: none;
    }

    .container{
        margin-right: 50px;
        margin-left: 50px;
    }
    
    .header-text{
        margin-top: 100px;
    
    }
    .h1{
        font-size: 25px;
    }
    #menuBtn{
        width: 40px;
        right: 50px;
       
    }
    .common-btn{
        padding: 10px 16px;
    }
    .social-icons img{
        width: 14px;
        margin: 15px auto;
    }
    .about-left-col, .about-right-col{
       
        flex-basis: 100%;}
        .about-text{
            margin: 50px 50px 0;
            display: inline-block;
        }
        

        
.experience-col{
    flex-basis: 100%;
margin-bottom: 40px;}

.footer-left-col{
    flex-basis: 100%;

}
.footer-right-col{
    flex-basis: 100%;

}

.link-title {
flex-basis: 50%;
margin-bottom: 30px;

}

#experience{
    width: 100vh;
    font-size: medium;
}

#about{
    width: 100vh;
    font-size: medium;
}

#skills{
    width: 110vh;
}

#education{
    width: 100vh;
}

       
}

